.bmo-advantage .default-content-wrapper {
  text-align: center;
}

.bmo-advantage .bmo-advantage-wrapper .bmo-advantage {
  display: flex;
  justify-content: center;
  margin: 0;
  justify-content: space-between;
}

.bmo-advantage .bmo-advantage-wrapper .bmo-advantage> div > div picture {
  display: block;
  width: 100px;
  height: auto;
}

.bmo-advantage .bmo-advantage-wrapper .bmo-advantage> div > div ul {
  list-style: none;
  padding: 0;
}
.bmo-advantage .bmo-advantage-wrapper .bmo-advantage> div {
  width: 30%;
}