.hero-section {
  position: relative;
  margin: 0 !important;
  height: 394px;
  overflow-y: hidden;
}

.hero-section>.columns-wrapper {
  position: relative;
  height: 100%;
  margin: 0 !important;
  max-width: 100% !important;
  display: flex;
}

.hero-section>.columns-wrapper .columns-img-col {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.hero-section>.columns-wrapper>.columns {
  max-width: 75rem;
  margin: auto;
}

.hero-section>.columns-wrapper>.columns>div {
  width: 75rem;
}

.hero-section>.columns-wrapper>.columns>div>div:first-child {
  z-index: 10;
  max-width: 480px;
  background: linear-gradient(0deg, #f5f6f7 0, #f5f6f7 1rem, #ffffff 1rem);
  padding-top: 1.5rem;
  box-shadow: 0 0 0.125rem 0 rgba(0, 25, 40, 0.12), 0 0.125rem 0.125rem 0 rgba(0, 25, 40, 0.07);
  border-radius: 1rem;
}

.hero-section>.columns-wrapper>.columns>div>div:last-child {
  /* height: 50%; */
}

.hero-section>.columns-wrapper>.columns>div>div:first-child>p:first-child {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5rem;
  font-weight: 700;
  font-size: 0.875rem;
  padding: 0 1.5rem;
}

.hero-section>.columns-wrapper>.columns>div>div:first-child>p:first-child a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.875rem;
  font-family: heebo-bold, Arial, sans-serif;
  color: #0075be;
  text-decoration: none;
  cursor: pointer;
}

.hero-section>.columns-wrapper>.columns>div>div:first-child>h1 {
  padding-top: 1rem;
  margin: 0;
  color: #001928;
  line-height: 2rem;
  font-weight: 700;
  font-size: 2.25rem;
  padding: 0 1.5rem;
}

.hero-section>.columns-wrapper>.columns>div>div:first-child>p:nth-child(2),
.hero-section>.columns-wrapper>.columns>div>div:first-child>p:nth-child(3) {
  margin: 0;
  padding-top: 1rem;
  display: block;
  padding: 0 1.5rem;
}

.hero-section>.columns-wrapper>.columns>div>div:first-child>p:nth-child(3) {
  margin: 1rem 0;
}

.hero-section>.columns-wrapper>.columns>div>div:first-child>p:nth-child(4) {
  padding: 0 1.5rem;
  background-color: #e6f9fe;
  margin: 0;
  border-top-width: 0.125rem;
  border-top-color: #0079c1;
  border-top-style: solid;
  padding-top: 1rem;
}

.hero-section>.columns-wrapper>.columns>div>div:first-child>p:last-child {
  padding: 0 1.5rem;
  background-color: #e6f9fe;
  margin: 0;
  border-radius: 0 0 1rem 1rem;
}

.hero-section>.columns-wrapper>.columns>div>div:first-child> .button-container a {
  background-color: transparent;
  text-transform: uppercase;
  line-height: 1.5rem;
  font-weight: 700;
  font-size: 1rem;
  color: #0079c1;
  font-family: Heebo-Bold, Arial, sans-serif;
  padding: 0;
  margin: 15px 0;
}
