footer {
  background-color: #0075be;
  font-size: var(--body-font-size-xs);
  color: white;
}

footer .footer>div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >=900px) {
  footer .footer>div {
    padding: 40px 32px 24px;
  }
}

.footer-links {
  display: flex;
  gap: 40px
}

.footer-links h2 {
  font-size: large;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
  font-family: Heebo-light, Arial, sans-serif;
  color: #e6f9fe;
  font-size: 18px;
}

.footer-links>div:last-child {
  margin-top: 5rem;
}

.footer-links p {
  padding-bottom: 1rem;
  font-weight: 400;
  font-family: Heebo-normal, Arial, sans-serif;
  color: #fefefe;
  font-size: 16px;

}

.footer-links-container {
  display: flex;
}

.footer-links {
  padding-right: 20px;
}

.footer-cta {
  padding-left: 20px;
  margin-left: 5rem;
  margin-top: 2rem;
}

.footer-cta>div:last-child {
  display: flex;
}

.footer-cta>div:last-child>div:first-child img {
  width: 150px;
  height: 150px;
  padding: 15px;
}

.footer-cta>div:last-child>div:last-child img {
  width: 200px;
  height: 100%;
  padding: 10px;
}

.footer-cta .button-container a.button:any-link {
  background-color: rgb(63, 63, 63);
  border-color: rgb(183, 182, 182);
  border-radius: 0px;
  padding: 7px;
}

.footer-socials {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: rgb(183, 182, 182) 1px solid;
  justify-content: end;
}

.footer-socials img {
  width: 30px;
  height: 100%;
}

.footer-bottom>div>div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.footer-bottom p {
  font-size: x-small;
  color: #fefefe;
  padding: 20px;
  padding-bottom: 0;
  font-size: 1rem;
  margin-bottom: 12px;
  font-weight: normal;
  text-wrap: nowrap;
}


.footer-bottom img {
  width: 200px;
  height: 100%;
  padding: 5px;
}